<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">GLD kIDDIES WORLD</div>
                <a class="nav-link" href="/Admin/order">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" href="/Admin/category">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Categories
                </a>

                <a class="nav-link" href="/Admin/product">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Products
                </a>

                <a class="nav-link" href="/Admin/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
                    Inbox
                </a>

                <a class="nav-link" href="/Admin/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Admin
                </a>
            </div>
        </div>
    </nav>
</div>
