<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav ">
        <li class="nav-item active">
            <a class="nav-link" href="/Home/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a href="/Home/About" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="/Home/Service" class="nav-link">Service</a>
        </li>
        <li class="nav-item">
            <a href="/Home/ShopNow" class="nav-link">Shop Now</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/Home/Product" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link" href="/Home/Product">Kids Toys</a>
                <a class="nav-link " href="/Home/Product">Dolls</a>
                <a class="nav-link " href="/Home/Product">Key Toys</a>
                <a class="nav-link " href="/Home/Product">Boys Toys</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="/Home/Contact" class="nav-link">Contact</a>
        </li>
    </ul>
</div>
