@{
    Layout = null;
}

<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/01-10-2018/toys_shop-demo_Free/695002674/web/single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Dec 2020 05:44:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Toys Shop an Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
         addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
            window.scrollTo(0, 1);
         }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="~/Content/css/shop.css" type="text/css" />
    <!--//Shoping cart-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui1.css">
    <link href="~/Content/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
    <!--stylesheets-->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="http://fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>

    <script>
(function(){
    if(typeof _bsa !== 'undefined' && _bsa) {
        // format, zoneKey, segment:value, options
        _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
    }
})();
    </script>
    <script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
    // format, zoneKey, segment:value, options
    _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
    </script>
    <script>
(function(){
    if(typeof _bsa !== 'undefined' && _bsa) {
        // format, zoneKey, segment:value, options
        _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
    }
})();
    </script>
    <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
    <div id="codefund"><!-- fallback content --></div>
    <script src="https://ethicalads.io/?ref=codefund" async="async"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149859901-1');
    </script>
    <script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
     ga('require', 'eventTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('send', 'pageview');
    </script>


    <!--<body>-->
    <link rel="stylesheet" href="~/Content/images/demobar_w3_4thDec2019.css">
    <!-- Demo bar start -->

    <div class="header-outs" id="home">
        <div class="header-bar">
            <div class="info-top-grid">
                <div class="info-contact-agile">
                    <ul>
                        <li>
                            <span class="fas fa-phone-volume"></span>
                            <p>+2347065278304</p>
                            <p>+2347065278304</p>
                        </li>
                        <li>
                            <span class="fas fa-envelope"></span>
                            <p><a href="domebingonye@gmail.com">domebingonye@gmail.com</a></p>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div class="hedder-up row">
                    <div class="col-lg-3 col-md-3 logo-head">
                        <h1><a class="navbar-brand" href="#">GLDKiddies World</a></h1>
                    </div>
                    <div class="col-lg-5 col-md-6 search-right">
                        <form class="form-inline my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search">
                            <button class="btn" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-3 right-side-cart">
                        <div class="cart-icons">
                            <ul>
                                <li>
                                    <span class="far fa-heart"></span>
                                </li>
                                <li>
                                    <button type="button" data-toggle="modal" data-target="#exampleModal"> <span class="far fa-user"></span></button>
                                </li>
                                <li class="toyscart toyscart2 cart cart box_1">
                                    <form action="#" method="post" class="last">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="display" value="1">
                                        <button class="top_toys_cart" type="submit" name="submit" value="">
                                            <span class="fas fa-cart-arrow-down"></span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @Html.Partial("_Header")

            </nav>
        </div>
    </div>

    @RenderBody()

    @Html.Partial("_Footer")

        <!-- //Modal 1-->
        <!--jQuery-->
        <script src="~/Content/js/jquery-2.2.3.min.js"></script>
        <!-- newsletter modal -->
        <!-- cart-js -->
        <script src="~/Content/js/minicart.js"></script>
        <script>
         toys.render();

         toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
         });
        </script>
        <!-- //cart-js -->
        <!-- price range (top products) -->
        <script src="~/Content/js/jquery-ui.js"></script>
        <script>
         //<![CDATA[
         $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

         }); //]]>
        </script>
        <!-- //price range (top products) -->
        <!-- single -->
        <script src="~/Content/js/imagezoom.js"></script>
        <!-- single -->
        <!-- script for responsive tabs -->
        <script src="~/Content/js/easy-responsive-tabs.js"></script>
        <script>
         $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
         });
        </script>
        <!-- FlexSlider -->
        <script src="~/Content/js/jquery.flexslider.js"></script>
        <script>
         // Can also be used with $(document).ready()
         $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
         });
        </script>
        <!-- //FlexSlider-->
        <!-- start-smoth-scrolling -->
        <script src="~/Content/js/move-top.js"></script>
        <script src="~/Content/js/easing.js"></script>
        <script>
         jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
         });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script>
         $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

         });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- //smooth-scrolling-of-move-up -->
        <!--bootstrap working-->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- //bootstrap working-->
    </body>

    <!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/01-10-2018/toys_shop-demo_Free/695002674/web/single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Dec 2020 05:45:02 GMT -->
</html>
